.notification-indicator::before {
    right: 0px;
    top: 6px;
}

.sort-arrow * {
    color: #FFF;
    background-color: #FFF;
}

.modal .modal-header .btn-close {   
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    background-color: #edf2f9;
    text-shadow: none;
    border-radius: 50%;
    -webkit-box-shadow: var(--falcon-box-shadow-sm);
    box-shadow: var(--falcon-box-shadow-sm);
    opacity: .5;
}

table th:last-child,
table tr td:last-of-type {
    display: flex !important;
    justify-content: center !important;
}

.was-validated .invalid-feedback {
    display: block;
}

.screen-loader {
    background-color: #FFFFFF66;
}