.notification-indicator::before {
    right: 0px;
    top: 6px;
}

.sort-arrow * {
    color: #FFF;
    background-color: #FFF;
}

.modal .modal-header .btn-close {   
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    background-color: #edf2f9;
    text-shadow: none;
    border-radius: 50%;
    -webkit-box-shadow: var(--falcon-box-shadow-sm);
    box-shadow: var(--falcon-box-shadow-sm);
    opacity: .5;
}

table th:last-child,
table tr td:last-of-type {
 
}

.was-validated .invalid-feedback {
    display: block;
}

.was-validated .form-control:valid:not(:focus), .form-control.is-valid,
.was-validated .form-select:valid:not(:focus), .form-select.is-valid {
    border-color: #d8e2ef;
    box-shadow: unset;
}

.was-validated .form-control:invalid:not(:focus), .form-control.is-invalid,
.was-validated .form-select:invalid:not(:focus), .form-select.is-valid {
    border-color: #d8e2ef;
    box-shadow: unset;
}

.dark .was-validated .form-control:valid:not(:focus), .form-control.is-valid,
.dark .was-validated .form-select:valid:not(:focus), .form-select.is-valid {
    border-color: #344050;
    box-shadow: unset;
}

.dark .was-validated .form-control:invalid:not(:focus), .form-control.is-invalid,
.dark .was-validated .form-select:invalid:not(:focus), .form-select.is-valid {
    border-color: #344050;
    box-shadow: unset;
}

.screen-loader {
    background-color: #FFFFFF66;
}

.switch-input {
    padding: 0px 3px;
}

.switch-input 
.form-switch 
.form-check-input {
    width: 40px;
    height: 20px;
    cursor: pointer;
}

.switch-input 
.form-switch 
.form-check-input:checked {
    background-color: #42ba96;
    border-color: #42ba96;
}

.switch-input 
.form-switch 
.form-check-input:focus {
    border-color: #42ba96;
    box-shadow: 0 0 0 0.25rem #42ba9633;
}