.notification-indicator::before {
    right: 0px;
    top: 6px;
}

.sort-arrow * {
    color: #FFF;
    background-color: #FFF;
}

.modal .modal-header .btn-close {   
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    background-color: #edf2f9;
    text-shadow: none;
    border-radius: 50%;
    -webkit-box-shadow: var(--falcon-box-shadow-sm);
    box-shadow: var(--falcon-box-shadow-sm);
    opacity: .5;
}

.table-thumbnail {
    width: 60px;
    height: 60px;
    padding: 1px;
    object-fit: cover;
}

table th:last-child,
table tr td:last-of-type {
 text-align: center;
 justify-content: center;
}

.was-validated .invalid-feedback {
    display: block;
}

.was-validated .form-control:valid:not(:focus), .form-control.is-valid,
.was-validated .form-select:valid:not(:focus), .form-select.is-valid {
    border-color: #d8e2ef;
    box-shadow: unset;
}

.was-validated .form-control:invalid:not(:focus), .form-control.is-invalid,
.was-validated .form-select:invalid:not(:focus), .form-select.is-valid {
    border-color: #d8e2ef;
    box-shadow: unset;
}

.dark .was-validated .form-control:valid:not(:focus), .form-control.is-valid,
.dark .was-validated .form-select:valid:not(:focus), .form-select.is-valid {
    border-color: #344050;
    box-shadow: unset;
}

.dark .was-validated .form-control:invalid:not(:focus), .form-control.is-invalid,
.dark .was-validated .form-select:invalid:not(:focus), .form-select.is-valid {
    border-color: #344050;
    box-shadow: unset;
}

.screen-loader {
    background-color: #FFFFFF66;
}

.switch-input {
    padding: 0px 3px;
}

.switch-input 
.form-switch 
.form-check-input {
    width: 40px;
    height: 20px;
    cursor: pointer;
}

.switch-input 
.form-switch 
.form-check-input:checked {
    background-color: #42ba96;
    border-color: #42ba96;
}

.switch-input 
.form-switch 
.form-check-input:focus {
    border-color: #42ba96;
    box-shadow: 0 0 0 0.25rem #42ba9633;
}

.image-drop-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 150px;
    align-items: center;
    justify-content: center;
    border: 2px dashed #8f8f8f;
    background-color: #344050;
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
    border-radius: 4px;
}

.image-drop-button i {
    font-size: 40px;
    margin-bottom: 10px;
}

.image-item {
    height: 150px;
    display: flex;
    width: fit-content;
    position: relative;
    min-width: 20px
}

.image-item .image-item__btn-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1px;
    background-color: #344050cc;
}

.image-item .image-item__btn-wrapper i {
    margin: 4px;
    font-size: 18px;
    font-weight: bold;
}